/*** GAME ***/

html {
  font-size: 16px;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Silkscreen Web', monotype;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

button.rick-rolled {
  margin-left: auto;
  margin-right: auto;
  color: white;
  height: 3rem;
  width: 4rem;
  background-color: magenta;
  outline: none;
}
button.rick-roll-button:hover {
  background-color: transparent;
  outline: 2px solid magenta;
  color: magenta;
}
a.rick-roll-link {
  text-align: center;
  text-decoration: none;
  color: magenta;
}